<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

    <!--Spring事务配置文件 -->

    <!-- 扫描service包下的所有使用注解的类型-->
    <context:component-scan base-package="com.csvalue.service" />

    <!-- 配置事务管理器(真正管理事务)-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
        <!-- 注入数据库连接池-->
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- 配置基于注解的声明式事务。默认使用注解来管理事务行为-->
    <!--<tx:annotation-driven transaction-manager="transactionManager" />-->

    <!--为事务transactionManager增强 -->
    <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            &lt;!&ndash; 写操作&ndash;&gt;
            <tx:method name="insert*" propagation="REQUIRED" isolation="DEFAULT" rollback-for="Exception"/>
            <tx:method name="update*" propagation="REQUIRED" isolation="DEFAULT" rollback-for="Exception"/>
            <tx:method name="delete*" propagation="REQUIRED" isolation="DEFAULT" rollback-for="Exception"/>
            &lt;!&ndash; 读操作&ndash;&gt;
            <tx:method name="find*" propagation="SUPPORTS" isolation="DEFAULT" read-only="true"/>
            <tx:method name="get*" propagation="SUPPORTS" isolation="DEFAULT" read-only="true"/>
            <tx:method name="query*" propagation="SUPPORTS" isolation="DEFAULT" read-only="true"/>
        </tx:attributes>
    </tx:advice>
-->
    <!-- 定义AOP切面管理器，指定事务作用到哪。-->
    <!--<aop:config>
        &lt;!&ndash; 定义切面在所有service包下&ndash;&gt;
        <aop:pointcut id="txPointcut" expression="execution(* com.csvalue.service..*.*(..))"/>
        &lt;!&ndash; 把事务控制在service层&ndash;&gt;
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut" />
    </aop:config>-->
</beans>